torch>=2.1.0dev
lightning==2.1.2
lightning[app]
jsonargparse[signatures]~=4.27.2
pandas~=2.2.0
pyarrow~=15.0.0
tokenizers
sentencepiece
# wandb
zstd~=1.5.5.1

# for finetuning
bitsandbytes
transformers
peft
accelerate
einops==0.6.1
evaluate==0.4.0
scikit-learn==1.2.2
sentencepiece
tiktoken
#wandb==0.15.3
# other optional dependencies are
# sentencepiece  # pythia, falcon, redpajama
# tokenizers  #  llama-based models
# bitsandbytes>=0.41.1  # quantize/bnb.py
# scipy  # TODO: remove when https://github.com/TimDettmers/bitsandbytes/pull/525 is released
# datasets  # quantize/gptq.py
# zstandard  # scripts/prepare_redpajama.py
# git+https://github.com/EleutherAI/lm-evaluation-harness.git@master  # eval
